<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container-fluid text-center bg-secondary text-light p-5 shadow">
    <h1 class="display-4">Gestor de registro estudiantil</h1>
    <p class="lead">Bienvenido a la aplicación de gestion de estudiantes. Utiliza la barra de navegacion para:
        registrar, ver, actualizar o eliminar los registros.</p>
    <hr class="my-4">
    <button class="btn btn-outline-light btn-lg" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Información
    </button>
</div>
<div class="offcanvas offcanvas-start bg-secondary text-white" data-bs-scroll="true" tabindex="-1"
     id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Información del Proyecto</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Esta pagina web fue desarrollada como parte de un ejercicio practico de la implementación de un proyecto
            Sping Boot en java y thymeleaf.</p>
        <hr>
        <p>Autor: Iván Sánchez<br>
            Universidad: Uniremington</p>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>